
@{
    Layout = null;
}


<h4 class="text-center">En esta pantalla usted podrá visualizar todas sus Planillas ordenadas por período mensual.</h4>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-justify">
        <text>Para crear una Planilla, haga click sobre "Nueva Planilla" ubicada en la parte superior izquierda de la pantalla.</text>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <a class="btn-sm btn-success hvr-glow">Nueva Planilla &nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
        @*<img src="@Url.Content("~/Content/Images/NuevaPlanilla.jpg")"/>*@
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-justify">
        <text>Usted puede elegir la cantidad de Planillas mostradas en una misma pantalla.</text>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/MostrarRegistros.jpg")"/>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-justify">
        <text>En la parte superior derecha de la pantalla encontrará una herramienta de búsqueda y filtrado avanzado de Planillas. Ésta mostrará en la lista todas las Planillas que contengan en alguna columna la palabra o número que usted haya escrito. Utilícela para poder visualizar todas las Planillas de un período, año o monto determinado.</text>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="margin-top: 30px">
        <img src="@Url.Content("~/Content/Images/BuscarRegistro.jpg")"/>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-justify">
        <text>Usted también puede optar por visualizar la lista de Planillas de forma mas detallada con los montos discriminados por tipo de transacción solo haciendo click sobre</text>&nbsp;<a class="btn btn-default btn-sm hvr-glow" style="margin-bottom: 5px; background-color: #6c7175; border: none"><span class="glyphicon glyphicon-th-list" style="font-size: medium; line-height: 0.5;"></span> <span> Detallado</span></a>&nbsp;<text>ubicado encima de la herramienta de búsqueda.</text>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <text>De la misma manera es posible volver a visualizar la lista de Planillas original haciendo click sobre</text>&nbsp;<a class="btn btn-default btn-sm hvr-glow" style="margin-bottom: 5px; background-color: #6c7175; border: none"><span class="glyphicon glyphicon-th-large" style="font-size: medium; line-height: 0.5;"></span> <span> Simple</span></a>&nbsp;<text>ubicado en el mismo sitio luego del cambio.</text>
    </div>
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 text-justify">
        <text>En la columna derecha de la lista encontrará las opciones de Planilla.</text><br/>
        <a class="btn btn-xs" style="background-color: #274f94"><span class="glyphicon glyphicon-list" style="color:white" aria-hidden="true"></span></a>&nbsp;<text style="color:#274f94">Detalles de Planilla:</text>&nbsp;<text>Haga click para ver toda la información referente a la Planilla.</text><br/>
        <a class="btn btn-xs" style="background-color: #30b333"><span class="glyphicon glyphicon-pencil" style="color:white" aria-hidden="true"></span></a>&nbsp;<text style="color:#30b333">Editar Planilla:</text>&nbsp;<text>Haga click para realizar todos los ajustes que necesite sobre la Planilla.</text><br/>
        <a class="btn btn-xs" style="background-color: #e64d3f"><span class="glyphicon glyphicon-trash" style="color:white" aria-hidden="true"></span></a>&nbsp;<text style="color:#e64d3f">Eliminar Planilla:</text>&nbsp;<text>Haga click para eliminar la Planilla de la lista.</text>
    </div>
    <div class="col-lg-1"></div>
    
</div>
<hr style="border-color: #e5e5e5" />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 text-justify">
        <yext>Finalmente, en la parte inferior derecha de la pantalla encontrará el paginador. Utilícelo para moverse entre páginas de la lista haciendo click en "Anterior", "Siguiente" o bien sobre una página específica. El número que se encuentre con un color distinto le indica la página donde se encuentra posicionado.</yext>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 3%">
        <img src="@Url.Content("~/Content/Images/Paginación.jpg")" style="width: 90%" />
    </div>
</div>

